<h1><%= @restaurant.name%></h1>

<div>
  <ul>
      <li>
        <p>Address: <%= @restaurant.address %></p>
      </li>
      <li>
        <p>Phone number: <%= @restaurant.phone_number %></p>
      </li>
      <li>
        <p>Cuisine: <%= @restaurant.category %></p>
      </li>
  <ul>
</div>

<div>
  <h4>Reviews</h4>
</div>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><p>Rating: <%= review.rating %></p></li>
    <li><p>Content: <%= review.content %></p></li>
    <p>----------------------------------------------</p>
  <% end %>
</ul>

<%= link_to "Create a new review", new_restaurant_review_path(@restaurant) %>
